.text-default {
  color: #7f7f7f; }

.text-description {
  color: #7f7f7f; }

.text-firedamage {
  color: #960000; }

.text-colddamage {
  color: #366492; }

.text-lightningdamage {
  color: #ffd700; }

.text-chaosdamage {
  color: #d02090; }

.text-simple {
  color: #FFFFFF; }

.text-augmented {
  color: #8888FF; }

.text-enchant {
  color: #b4b4ff; }

.text-fractured {
  color: #a29162; }

.text-crafted {
  color: #b4b4ff; }

.text-corrupted {
  color: #d20000; }

.text-unmet {
  color: #d20000; }

.text-unidentified {
  color: #d20000; }

.text-note {
  color: #AA9E82;
  font-weight: bolder; }
