<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <variable name="LogsRelativePath" value="/The Wraeclast/PoE Commerce/log.log" />
  <variable name="ArchiveRelativePath" value="/The Wraeclast/PoE Commerce/archive.{#}.log" />

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${specialfolder:folder=ApplicationData}${LogsRelativePath}"
            archiveFileName="${specialfolder:folder=ApplicationData}${ArchiveRelativePath}"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-d_HH_mm_ss"
            archiveAboveSize="1048576"
            archiveEvery="Day"
            maxArchiveFiles="10" />
    <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" />
    </target>
  </targets>

  <rules>
    <logger name="PoECommerce.Logger" minlevel="Debug" writeTo="logconsole" />
    <logger name="PoECommerce.Logger" minlevel="Debug" writeTo="logfile" />

    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>