@using PoECommerce.Core.Model.Trade
@inherits ItemsContainerBase

@if (SearchResult != null)
{
    if (ListedItems == null || ListedItems.Count == 0)
    {
        if (SearchResult?.ItemIds?.Any() == true)
        {
            <span>Loading...</span>
        }
        else
        {
            <span>:No results found</span>
        }
    }
    else
    {
        <span>Showing @SearchResult.ItemIds.Length results (@SearchResult.Total matched)</span>
        foreach (ListedItem resultItem in ListedItems)
        {
            <ListedItemContainer ListedItem="@resultItem" PoEWindow="@PoEWindow"></ListedItemContainer>
        }
    }
}