@import url(css/items/listed-item-container.css);
@import url(css/items/item-properties-container.css);

.flex-column-50 {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.filter-section input {
    text-align: center;
}