$poec-typography-font-family: unquote("Verdana,Arial,Helvetica,sans-serif");

$poec-theme-primary: #0f304d;
$poec-theme-secondary: #5a3806;
$poec-theme-surface: #18181b;
$poec-theme-background: #0f0f0f;
$poec-theme-error: #b00020;
$poec-theme-on-primary: #e2e2e2;
$poec-theme-on-secondary: #e2e2e2;
$poec-theme-on-error: #e2e2e2;
$poec-theme-on-surface: #e2e2e2;
$poec-theme-on-background: #a38d6d;


$poec-animation-180bezier: 180ms cubic-bezier(0.4, 0, 0.2, 1);