.text-default {
  color: #7f7f7f; }

.text-description {
  color: #7f7f7f; }

.text-firedamage {
  color: #960000; }

.text-colddamage {
  color: #366492; }

.text-lightningdamage {
  color: #ffd700; }

.text-chaosdamage {
  color: #d02090; }

.text-simple {
  color: #FFFFFF; }

.text-augmented {
  color: #8888FF; }

.text-enchant {
  color: #b4b4ff; }

.text-fractured {
  color: #a29162; }

.text-crafted {
  color: #b4b4ff; }

.text-corrupted {
  color: #d20000; }

.text-unmet {
  color: #d20000; }

.text-unidentified {
  color: #d20000; }

.text-note {
  color: #AA9E82;
  font-weight: bolder; }

.sockets-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .sockets-container:hover {
    display: none; }
  .sockets-container.sockets-container__1x1.sockets-container__1s {
    width: 30px;
    height: 30px; }
  .sockets-container.sockets-container__2x1.sockets-container__1s {
    width: 30px;
    height: 30px; }
  .sockets-container.sockets-container__2x1.sockets-container__2s {
    width: calc(17px + 2*30px);
    height: 30px; }
  .sockets-container.sockets-container__3x1.sockets-container__1s {
    width: 30px;
    height: 30px; }
  .sockets-container.sockets-container__3x1.sockets-container__2s {
    width: calc(17px + 2*30px);
    height: 30px; }
  .sockets-container.sockets-container__3x1.sockets-container__3s {
    width: calc(2*17px + 3*30px);
    height: 30px; }
  .sockets-container.sockets-container__1x2.sockets-container__1s {
    width: 30px;
    height: 30px; }
  .sockets-container.sockets-container__1x2.sockets-container__2s {
    width: 30px;
    height: calc(17px + 2*30px); }
  .sockets-container.sockets-container__1x2 .socket__2 {
    top: calc(17px + 30px);
    left: 0; }
  .sockets-container.sockets-container__1x2 .link__1-2 {
    width: 6px;
    height: 17px;
    top: 30px;
    left: calc(30px/2);
    transform: translate(-50%, 0); }
  .sockets-container.sockets-container__1x3.sockets-container__1s, .sockets-container.sockets-container__1x4.sockets-container__1s {
    width: 30px;
    height: 30px; }
  .sockets-container.sockets-container__1x3.sockets-container__2s, .sockets-container.sockets-container__1x4.sockets-container__2s {
    width: 30px;
    height: calc(17px + 2*30px); }
  .sockets-container.sockets-container__1x3.sockets-container__3s, .sockets-container.sockets-container__1x4.sockets-container__3s {
    width: 30px;
    height: calc(2*17px + 3*30px); }
  .sockets-container.sockets-container__1x3 .socket__2, .sockets-container.sockets-container__1x4 .socket__2 {
    top: calc(17px + 30px);
    left: 0; }
  .sockets-container.sockets-container__1x3 .socket__3, .sockets-container.sockets-container__1x4 .socket__3 {
    top: calc(2*(17px + 30px));
    left: 0; }
  .sockets-container.sockets-container__1x3 .link__1-2, .sockets-container.sockets-container__1x4 .link__1-2 {
    width: 6px;
    height: 17px;
    top: 30px;
    left: calc(30px/2);
    transform: translate(-50%, 0); }
  .sockets-container.sockets-container__1x3 .link__2-3, .sockets-container.sockets-container__1x4 .link__2-3 {
    width: 6px;
    height: 17px;
    top: calc(2*30px + 17px);
    left: calc(30px/2);
    transform: translate(-50%, 0); }
  .sockets-container.sockets-container__2x2.sockets-container__1s {
    width: 30px;
    height: 30px; }
  .sockets-container.sockets-container__2x2.sockets-container__2s {
    width: calc(17px + 2*30px);
    height: 30px; }
  .sockets-container.sockets-container__2x2.sockets-container__3s, .sockets-container.sockets-container__2x2.sockets-container__4s {
    width: calc(17px + 2*30px);
    height: calc(17px + 2*30px); }
  .sockets-container.sockets-container__2x3.sockets-container__1s, .sockets-container.sockets-container__2x4.sockets-container__1s {
    width: 30px;
    height: 30px; }
  .sockets-container.sockets-container__2x3.sockets-container__2s, .sockets-container.sockets-container__2x4.sockets-container__2s {
    width: calc(17px + 2*30px);
    height: 30px; }
  .sockets-container.sockets-container__2x3.sockets-container__3s, .sockets-container.sockets-container__2x3.sockets-container__4s, .sockets-container.sockets-container__2x4.sockets-container__3s, .sockets-container.sockets-container__2x4.sockets-container__4s {
    width: calc(17px + 2*30px);
    height: calc(17px + 2*30px); }
  .sockets-container.sockets-container__2x3.sockets-container__5s, .sockets-container.sockets-container__2x3.sockets-container__6s, .sockets-container.sockets-container__2x4.sockets-container__5s, .sockets-container.sockets-container__2x4.sockets-container__6s {
    width: calc(17px + 2*30px);
    height: calc(2*17px + 3*30px); }
  .sockets-container .socket {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%; }
    .sockets-container .socket > div {
      width: 23px;
      height: 23px;
      background: #685b45;
      background: radial-gradient(circle, #5f4b30 10%, #40321f 40%, #322316 56%, #d7c479 60%, #d7c479 62%, #40321f 74%);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .sockets-container .socket__green {
      background: linear-gradient(45deg, black 5%, #4ab60c 40%, #d9fbc6 55%, #4ab60c 85%); }
    .sockets-container .socket__red {
      background: linear-gradient(45deg, black 5%, #b50c27 40%, #fbc5ce 55%, #b50c27 85%); }
    .sockets-container .socket__blue {
      background: linear-gradient(45deg, black 5%, #0c50b6 40%, #c6dbfb 55%, #0c50b6 85%); }
    .sockets-container .socket__white {
      background: linear-gradient(45deg, black 5%, #e3e3e3 40%, white 55%, #e3e3e3 85%); }
    .sockets-container .socket__delve {
      background: linear-gradient(45deg, black 5%, #dc751c 40%, #fefbf9 55%, #f27720 85%); }
    .sockets-container .socket__abyss {
      background: linear-gradient(45deg, black 5%, #1c1c1c 40%, #9c9c9c 55%, #1c1c1c 85%); }
    .sockets-container .socket__1 {
      top: 0;
      left: 0; }
    .sockets-container .socket__2 {
      top: 0;
      left: calc(17px + 30px); }
    .sockets-container .socket__3 {
      top: calc(17px + 30px);
      left: calc(17px + 30px); }
    .sockets-container .socket__4 {
      top: calc(17px + 30px);
      left: 0; }
    .sockets-container .socket__5 {
      top: calc(2*(17px + 30px));
      left: 0px; }
    .sockets-container .socket__6 {
      top: calc(2*(17px + 30px));
      left: calc(17px + 30px); }
  .sockets-container .link {
    position: absolute;
    background: #d20000; }
    .sockets-container .link__1-2 {
      width: 17px;
      height: 6px;
      top: calc(30px / 2);
      left: 30px;
      transform: translate(0, -50%); }
    .sockets-container .link__1-4 {
      width: 6px;
      height: 17px;
      top: 30px;
      left: calc(30px / 2);
      transform: translate(-50%, 0); }
    .sockets-container .link__2-3 {
      width: 6px;
      height: 17px;
      top: 30px;
      left: calc(30px + 17px + (30px / 2));
      transform: translate(-50%, 0); }
    .sockets-container .link__3-4 {
      width: 17px;
      height: 6px;
      top: calc(30px + 17px + (30px / 2));
      left: 30px;
      transform: translate(0, -50%); }
    .sockets-container .link__3-6 {
      width: 6px;
      height: 17px;
      top: calc(2*30px + 17px);
      left: calc(30px + 17px + (30px / 2));
      transform: translate(-50%, 0); }
    .sockets-container .link__4-5 {
      width: 6px;
      height: 17px;
      top: calc(2*30px + 17px);
      left: calc(30px / 2);
      transform: translate(-50%, 0); }
    .sockets-container .link__5-6 {
      width: 17px;
      height: 6px;
      top: calc(2*30px + 2*17px + (30px / 2));
      left: 30px;
      transform: translate(0, -50%); }
