@import "Common/Variables";
@import "Common/Common";

.compact-listed-item-container {
    display: flex;
    flex-direction: row;
    margin: 3px 0px;
    color: $poec-item-normal;
    padding: 3px 3px;
    background-color: $poec-theme-surface;
    font-size: smaller;

    .cell {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 2px;
    }

    .poec-button {
        background-color: #5a3806;
        color: #e2e2e2;
        max-height: 15px;
        padding: 0px;
        max-width: 30px;
        min-width: 30px;
        margin: 0px;
        margin-right: 10px;
        line-height: 0;
        font-size: inherit;
    }

    .socket {
        margin-right: -4px;
        width: 5px;
        height: 5px;

        &__green {
            color: rgba(#4ab60c, 0.75);
        }

        &__red {
            color: rgba(#b50c27, 0.75);
        }

        &__blue {
            color: rgba(#5c9dff, 0.75);
        }

        &__white {
            color: rgba(#e3e3e3, 0.75);
        }

        &__delve {
            color: rgba(#dc751c, 0.75);
        }

        &__abyss {
            color: rgba(#1c1c1c, 0.75);
        }
    }
}
