@import "Common/Variables";
@import "Common/Common";

.compact-listed-item-container {
    display: flex;
    flex-direction: row;
    margin: 3px 0px;
    color: $poec-item-normal;
    padding: 3px 3px;
    background-color: $poec-theme-surface;

    .cell {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 2px;
    }

    .poec-button {
        background-color: #5a3806;
        color: #e2e2e2;
        max-height: 15px;
        padding: 0px;
        max-width: 30px;
        min-width: 30px;
        margin: 0px;
        margin-right: 10px;
        line-height: 0;
        font-size: smaller;
    }

    .socket {
        margin-right: -4px;
        border-radius: 50%;
        width: 5px;
        height: 5px;

        &__green {
            background: linear-gradient(45deg, black 5%, #4ab60c 40%, lighten(#4ab60c, 50%) 55%, #4ab60c 85%);
        }

        &__red {
            background: linear-gradient(45deg, black 5%, #b50c27 40%, lighten(#b50c27, 50%) 55%, #b50c27 85%);
        }

        &__blue {
            background: linear-gradient(45deg, black 5%, #0c50b6 40%, lighten(#0c50b6, 50%) 55%, #0c50b6 85%);
        }

        &__white {
            background: linear-gradient(45deg, black 5%, #e3e3e3 40%, lighten(#e3e3e3, 50%) 55%, #e3e3e3 85%);
        }

        &__delve {
            background: linear-gradient(45deg, black 5%, #dc751c 40%, lighten(#dc751c, 50%) 55%, #f27720 85%);
        }

        &__abyss {
            background: linear-gradient(45deg, black 5%, #1c1c1c 40%, lighten(#1c1c1c, 50%) 55%, #1c1c1c 85%);
        }
    }
}
