@page "/"
@using ElectronNET.API
@using PoECommerce.Client.Shared.Display
@inject IWindowManager WindowManager

<div class="task-bar">
    <Button OnClick="@(async()=>await WindowManager.Show(2))" Value="Trade" ElementType="@ElementType.Primary"></Button>
</div>

<style>
    body {
        background: none;
    }

    .task-bar {
        position: fixed;
        bottom: 0;
        right: 0;
    }

        .task-bar button {
            margin: 5px;
        }
</style>

@functions
{
    [Inject]
    public IPoECommerceFacade PoECommerceFacade { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HybridSupport.IsElectronActive)
        {
            Electron.GlobalShortcut.Register("Ctrl+Alt+Shift+F", async () =>
            {
                PoECommerceFacade.ClearSession();
                await WindowManager.Show(1);
            });

            Electron.GlobalShortcut.Register("Ctrl+Shift+F", async () =>
            {
                PoECommerceFacade.ClearSession();
                await WindowManager.Show(2);
            });

            Electron.GlobalShortcut.Register("Shift+Esc", () => Electron.App.Quit());
        }
    }
}
