@import "../../PoECommerce.Client.Components.Common/Common/Variables";

$poec-item-normal: #c8c8c8;
$poec-item-magic: #8888FF;
$poec-item-rare: #ffff77;
$poec-item-unique: #af6025;
$poec-item-prophecy: #b54bff;
$poec-item-gem: #1ba29b;
$poec-item-currency: #aa9e82;

$poec-item-text-default: #7f7f7f;
$poec-item-text-augmented: #8888FF;
$poec-item-text-fractured: #a29162;
$poec-item-text-unidentified: #d20000;
$poec-item-text-unmet: #d20000;
$poec-item-text-corrupted: #d20000;
$poec-item-text-crafted: #b4b4ff;
$poec-item-text-enchant: #b4b4ff;
$poec-item-text-firedamage: #960000;
$poec-item-text-colddamage: #366492;
$poec-item-text-lightningdamage: #ffd700;
$poec-item-text-chaosdamage: #d02090;
$poec-item-text-simple: #FFFFFF;
$poec-item-text-note: #AA9E82;