@import "Common/Variables";
@import "Common/Common";

.poec-section {
    position: relative;

    &__header {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: darken($poec-theme-background, 2%);
        padding: 5px 7px;

        .poec-line-ripple {
            transform: scaleX(1);
            opacity: 1;
            background-color: $poec-theme-secondary;
        }

        .poec-checkbox__label {
            font-weight: 600;
            color: $poec-theme-on-background;
        }
    }

    .poec-section__content__wrapper {
        display: none;

        &--open {
            display: block;
        }

        .poec-section__content {
            padding: 10px;
        }
    }
}
